* {
  box-sizing: border-box;

  *::before,
  *::after {
    box-sizing: border-box;
  }

  &:not(iframe) {
    transition: 0.25s ease;
    transition-property: background, border, color, left, margin, padding, right,
      opacity;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-Montserrat;
  scroll-behavior: smooth;
}

input[type="submit"]:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

label,
button,
input,
select {
  cursor: pointer;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

abbr[title],
acronym[title],
dfn {
  cursor: help;
}

textarea {
  resize: vertical;
}

[disabled] {
  cursor: default;
}

[aria-disabled="true"] {
  cursor: default;
  pointer-events: none;
}

.no-js button[type="button"] {
  display: none;
}

sub,
sup {
  line-height: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:not([href]) {
    cursor: initial;
  }
}

//===================================

.arrow-black {
  &__item {
    position: relative;
    height: pxToRem(2);
    background: $color-black;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: pxToRem(10);
      height: pxToRem(10);
      border-top: pxToRem(2) solid $color-black;
      border-right: pxToRem(2) solid $color-black;
      transform: rotate(45deg);
    }
  }
}

.arrow-white {
  &__item {
    position: relative;
    height: pxToRem(1);
    background: $color-white;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: pxToRem(7);
      height: pxToRem(7);
      border-top: pxToRem(2) solid $color-white;
      border-right: pxToRem(2) solid $color-white;
      transform: rotate(45deg);
    }
  }
}

.heading-vertical {

  &__text {
    font-family: $font-Body-Grotesque;
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: $color-white;
    transform: rotate(-90deg);

    @include mobile {
      font-size: pxToRem(30);
    }

    @include tablet {
      font-size: pxToRem(50);
    }

    @include desktop-light {
      font-size: pxToRem(60);
    }

    @include desktop {
      font-size: pxToRem(70);
    }
  }
}

.button {
  &__container {
    border-radius: 50%;
    background: $color-red;
    color: $color-white;
  }
}

.scroll-nav {
  &__container {
    display: inline-block;
    transform: rotate(-90deg);
    padding: pxToRem(15);

    &:hover {
      .scroll-nav__text {
        color: $color-red;
        text-shadow: 0 0 pxToRem(4) $color-white;
        &::before {
          background: $color-red;
          box-shadow: 0 0 pxToRem(4) $color-white;
        }
      }
    }
  }

  &__text {
    position: relative;
    font-size: pxToRem(20);
    line-height: 132.4%;
    padding-left: pxToRem(95);
    color: $color-white;
    transition: all 0,3s ease;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 2px);
      left: 0;
      width: pxToRem(70);
      height: pxToRem(1);
      background: $color-white;
      transition: all 0,3s ease;
    }
  }
}

.main {
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;

  @include desktop-light {
    position: fixed;
  }

  @include desktop {
    position: fixed;
  }
}

.scrollbar {

  &__track {

    @include desktop {
      position: relative;
      height: pxToRem(687);
      width: pxToRem(1);
      background: $color-white;
    }

    @include desktop-light {
      position: relative;
      height: pxToRem(400);
      width: pxToRem(1);
      background: $color-white;
    }
  }

  &__thumb {

    @include desktop-light {
      position: absolute;
      right: calc(50% - 14px);
      top: 0;
      width: pxToRem(27);
      height: pxToRem(27);
      border-radius: 50%;
      transition: all 1.5s;
      background: $color-red;
    }
  }
}

.scrollbar__slide {

  &::-webkit-scrollbar {
    width: pxToRem(15);
  }

  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 pxToRem(5) grey; 
      border-radius: pxToRem(10);
  }

  &::-webkit-scrollbar-thumb {
      background: $color-red; 
      border-radius: pxToRem(10);
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #b30000; 
  }
}

.form__text {
  position: absolute;
  left: 5.5%;
  font-weight: 500;
  font-size: pxToRem(20);
  line-height: 108.5%;
  letter-spacing: 0.105em;
  color: $color-white;
  background: $color-black;

  @include mobile {
      top: pxToRem(-5);
      padding: 0 pxToRem(13);
  }

  @include tablet {
      top: pxToRem(-8);
      padding: 0 pxToRem(21);
  }

  @include desktop-light {
    top: pxToRem(-10);
    padding: 0 pxToRem(10);
}

  @include desktop {
      top: pxToRem(-8);
      padding: 0 pxToRem(21);
  }
}

.slider {

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

&__btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(50);
    height: pxToRem(30);
}

&__btn-item {
    width: pxToRem(38);
    height: pxToRem(5);
    border-radius: pxToRem(100);
    background: $color-white;
    transition: all 1s;
}
}