* {
  box-sizing: border-box;

  *::before,
  *::after {
    box-sizing: border-box;
  }

  &:not(iframe) {
    transition: 0.25s ease;
    transition-property: background, border, color, left, margin, padding, right,
      opacity;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-Montserrat;
  scroll-behavior: smooth;
  background: $color-black;

  @include light-theme {
    background: linear-gradient(rgba(178, 178, 178, 0.8), rgba(178, 178, 178, 0.8)), url(../../../img/backgound-ligth-theme.webp);
  }
}

input[type="submit"]:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

label,
button,
input,
select {
  cursor: pointer;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

abbr[title],
acronym[title],
dfn {
  cursor: help;
}

textarea {
  resize: vertical;
}

[disabled] {
  cursor: default;
}

[aria-disabled="true"] {
  cursor: default;
  pointer-events: none;
}

.no-js button[type="button"] {
  display: none;
}

sub,
sup {
  line-height: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:not([href]) {
    cursor: initial;
  }
}

//===================================

.arrow {

  @include print {
    display: none;
  }

  &__item--white {
    position: relative;
    height: pxToRem(1);
    background: $color-white;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: pxToRem(7);
      height: pxToRem(7);
      border-top: pxToRem(2) solid $color-white;
      border-right: pxToRem(2) solid $color-white;
      transform: rotate(45deg);
    }
  }

  &__item--black {
    position: relative;
    height: pxToRem(2);
    background: $color-black;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: pxToRem(10);
      height: pxToRem(10);
      border-top: pxToRem(2) solid $color-black;
      border-right: pxToRem(2) solid $color-black;
      transform: rotate(45deg);
    }
  }
}

body[dir="rtl"] {
  .arrow__item--white, .arrow__item--black {
    transform: scale(-1, 1)
  }
}

.title--vertical {
  font-family: $font-Body-Grotesque;
  font-weight: 800;
  line-height: 108.5%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: $color-white;
  transform: rotate(-90deg);

  @include light-theme {
    color: $color-black;
  }

  @include mobile {
    font-size: pxToRem(30);
  }

  @include tablet {
    font-size: pxToRem(50);
  }

  @include desktop-light {
    font-size: pxToRem(60);
  }

  @include desktop {
    font-size: pxToRem(70);
  }
}

.button {

  @include print {
    display: none;
}

  &__link {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background: $color-red;
    color: $color-white;
    font-weight: 700;
    line-height: 132.4%;
  }
}

.scroll-nav {

  @include print {
    display: none;
}

  &__link {
    display: inline-block;
    transform: rotate(-90deg);
    padding: pxToRem(15);

    &:hover {
      .scroll-nav__text {
        text-shadow: 0 0 pxToRem(4) $color-red;
        &::before {
          background: $color-red;
        }
      }
    }
  }

  &__text {
    position: relative;
    font-size: pxToRem(20);
    line-height: 132.4%;
    padding-left: pxToRem(95);
    color: $color-white;
    transition: all 0.3s ease;

    @include light-theme {
      color: $color-black;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 2px);
      left: 0;
      width: pxToRem(70);
      height: pxToRem(1);
      background: $color-white;
      transition: all 0.3s ease;

      @include light-theme {
        background: $color-black;
      }
    }
  }
}

.main {
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s;

  @include desktop-light {
    position: fixed;
  }

  @include desktop {
    position: fixed;
  }
}

.scrollbar {

  &__track {

    @include desktop-light {
      position: relative;
      height: pxToRem(400);
      width: pxToRem(1);
      background: $color-white;

      @include light-theme {
        background: $color-black;
      }
    }

    @include desktop {
      position: relative;
      height: pxToRem(550);
      width: pxToRem(1);
      background: $color-white;

      @include light-theme {
        background: $color-black;
      }
    }
  }

  &__thumb {

    @include desktop-light {
      position: absolute;
      right: calc(50% - 14px);
      top: 0;
      width: pxToRem(27);
      height: pxToRem(27);
      border-radius: 50%;
      transition: all 1.5s;
      background: $color-red;
    }

    @include desktop {
      position: absolute;
      right: calc(50% - 14px);
      top: 0;
      width: pxToRem(27);
      height: pxToRem(27);
      border-radius: 50%;
      transition: all 1.5s;
      background: $color-red;
    }
  }
}

.scrollbar__slide {

  &::-webkit-scrollbar {
    width: pxToRem(15);
  }

  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 pxToRem(5) grey; 
      border-radius: pxToRem(10);
  }

  &::-webkit-scrollbar-thumb {
      background: $color-red; 
      border-radius: pxToRem(10);
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #b30000; 
  }
}

.form__text {
  position: absolute;
  left: 5.5%;
  font-weight: 500;
  font-size: pxToRem(20);
  line-height: 108.5%;
  letter-spacing: 0.105em;
  color: $color-white;
  background: $color-black;

  @include mobile {
      top: pxToRem(-5);
      padding: 0 pxToRem(13);
  }

  @include tablet {
      top: pxToRem(-8);
      padding: 0 pxToRem(21);
  }

  @include desktop-light {
    top: pxToRem(-10);
    padding: 0 pxToRem(10);
}

  @include desktop {
      top: pxToRem(-8);
      padding: 0 pxToRem(21);
  }
}

.switch {
  position: relative;    

  &__checkbox {
      display: none;

      &:checked + .switch__slider {
          background-color: $color-red;
      }

      @include mobile {
          &:checked + .switch__slider:before {
              transform: translateX(37px);
          }
      }

      @include tablet {
          &:checked + .switch__slider:before {
              transform: translateX(30px);
          }
      }

      @include desktop-light {
          &:checked + .switch__slider:before {
              transform: translateX(30px);
          }
      }

      @include desktop {
          &:checked + .switch__slider:before {
              transform: translateX(30px);
          }
      }
  }

  &__slider {
      position: absolute;
      cursor: pointer;
      -webkit-transition: .4s;
      transition: .4s;
      background-color: #1B1B1B;

      @include light-theme {
        background-color: $color-gray;
        border: pxToRem(1) solid $color-black;
      }

      @include mobile {
          width: pxToRem(60);
          height: pxToRem(24);
          border: pxToRem(2) solid $color-white;
          border-radius: pxToRem(100);
      }

      @include tablet {
          width: pxToRem(49);
          height: pxToRem(18);
          border-radius: pxToRem(100);
      }

      @include desktop-light {
          width: pxToRem(49);
          height: pxToRem(18);
          border-radius: pxToRem(100);
      }

      @include desktop {
          width: pxToRem(49);
          height: pxToRem(18);
          border-radius: pxToRem(100);
      }

      &:before {
          position: absolute;
          content: "";
          height: pxToRem(27);
          width: pxToRem(27);
          left: pxToRem(-5);
          bottom: calc(50% - 13.5px);
          border-radius: 50%;
          background-color: #2B2B2D;
          background-image: url(../../favicon/moon.svg);
          background-size: pxToRem(14) pxToRem(14);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          -webkit-transition: .4s;
          transition: .4s;
      }
  }
}

.burger {

  &__checkbox {
      display: none;

      @include mobile {

        &:checked {
          ~ .main {
            overflow: hidden;
          }
          ~ .header {

            .header__main {
              left: 0;
            }

            .burger__line::before {
              top: 0;
              transform: rotate(-45deg);
              background: $color-red;
            }

            .burger__line::after {
              top: 0;
              transform: rotate(45deg);
              background: $color-red;
            }

            .burger__line {
              background: transparent;
            }
          }
        }
      }
  }

  &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: pxToRem(71);
      height: pxToRem(54);
  }

  &__line {
      position: relative;
      width: pxToRem(41);
      height: pxToRem(4);
      background: $color-white;
      transition: 0.6s all;

      @include light-theme {
        background: $color-black;
      }

      &::before {
          content: "";
          position: absolute;
          top: pxToRem(14);
          width: pxToRem(41);
          height: pxToRem(4);
          background: $color-white;
          transition: 0.6s all;

          @include light-theme {
            background: $color-black;
          }
      }

      &::after {
          content: "";
          position: absolute;
          bottom: pxToRem(14);
          width: pxToRem(41);
          height: pxToRem(4);
          background: $color-white;
          transition: 0.6s all;

          @include light-theme {
            background: $color-black;
          }
      }
  }
}

.slider {

  &__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: pxToRem(50);
      height: pxToRem(30);
  }

  &__btn-item {
      width: pxToRem(38);
      height: pxToRem(5);
      border-radius: pxToRem(100);
      background: $color-white;
      transition: all 1s;

      @include light-theme {
        background: $color-black;
      }
  }
}

// ====ANIMATION======

.button, .scroll-nav {
  animation: emergence 2s linear 0s normal running none;

  @keyframes emergence {
    
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}