.stap-slider {
  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include desktop-light {
    position: fixed;
    z-index: 20;
    top: 48.3%;
    right: pxToRem(-38);
    transform: rotate(90deg);
  }

  @include desktop {
    position: fixed;
    z-index: 20;
    top: 48.3%;
    right: pxToRem(-38);
    transform: rotate(90deg);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-black;
    box-shadow: 0 0 pxToRem(40) pxToRem(15) $color-black;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToRem(38);
    height: pxToRem(38);

    &:hover .stap-slider__btn {
      background: $color-red;
    }
  }

  &__btn {
    width: pxToRem(8.4);
    height: pxToRem(8.4);
    background: $color-white;
    border-radius: 50%;
    transition: all 0.5s;
  }
}

.radio {
  &__check {
    display: none;

    &:checked {
      &[id="radio_hero"] {
        ~ .main {
          top: calc(100vh * 0 * -1);
          .stap-slider_hero {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }

      &[id="radio_about"] {
        ~ .main {
          top: calc(100vh * 1 * -1);
          .stap-slider_about {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }

      &[id="radio_reviews"] {
        ~ .main {
          top: calc(100vh * 2 * -1);
          .stap-slider_reviews {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }

      &[id="radio_services"] {
        ~ .main {
          top: calc(100vh * 3 * -1);
          .stap-slider_services {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }

      &[id="radio_portfolio"] {
        ~ .main {
          top: calc(100vh * 4 * -1);
          .stap-slider_portfolio {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }

      &[id="radio_contacts"] {
        ~ .main {
          top: calc(100vh * 5 * -1);
          .stap-slider_contacts {
            background: $color-red;
            width: pxToRem(14);
            height: pxToRem(14);
          }
        }
      }
    }
  }
}
