$font-Montserrat: "Montserrat", sans-serif;
$font-Body-Grotesque: "Body-Grotesque", sans-serif;
$font-Kharkiv: "Kharkiv", sans-serif;
$font-Potra: "Potra", sans-serif;

// Colors
$color-black: #131313;
$color-red: #d91936;
$color-white: #ffffff;
$color-gray: rgba(255, 255, 255, 0.5);

// Media queries
$desktop-extra: pxToRem(1800, em);
$desktop: pxToRem(1441, em);
$tablet: pxToRem(769, em);
$mobile: pxToRem(767, em);

// Font sizes, weights, etc.
$typography-font-size: pxToRem(15);
$typography-font-weight: 400;
$typography-letter-spacing: 0.13em;
