.reviews {
    overflow: hidden;

    @include desktop-light {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    @include desktop {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include mobile {
            gap: pxToRem(40);
            padding-top: pxToRem(3);
            padding-bottom: pxToRem(87);
        }

        @include tablet {
            gap: pxToRem(60);
            padding: pxToRem(87) 0;
        }

        @include desktop-light {
            gap: pxToRem(40);
            padding-top: pxToRem(80);
        }
        
        @include desktop {
            gap: pxToRem(67);
            padding-top: pxToRem(58);
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {

        @include mobile {
            margin-bottom: pxToRem(18);
        }

        @include tablet {
            margin-bottom: pxToRem(18);
        }

        @include desktop-light {
            margin-bottom: pxToRem(15);
        }

        @include desktop {
            margin-bottom: pxToRem(20);
        }
    }

    &__title-text {
        font-family: $font-Body-Grotesque;
        font-weight: 800;
        line-height: 108.5%;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;

        @include mobile {
            font-size: pxToRem(20);
            letter-spacing: 0.170em;
        }

        @include tablet {
            font-size: pxToRem(20);
            letter-spacing: 0.170em;
        }

        @include desktop-light {
            font-size: pxToRem(25);
            letter-spacing: 0.105em;
        }

        @include desktop {
            font-size: pxToRem(30);
            letter-spacing: 0.105em;
        }
    }

    &__google {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            right: pxToRem(296);
            top: 45%;
            width: pxToRem(148);
            height: pxToRem(2);
            background: $color-white;
        }

        &::after {
            content: "";
            position: absolute;
            left: pxToRem(296);
            top: 45%;
            width: pxToRem(148);
            height: pxToRem(2);
            background: $color-white;
        }

        @include mobile {
            margin-bottom: pxToRem(18);

            &::before {
                right: pxToRem(253);
                top: 55%;
            }
    
            &::after {
                left: pxToRem(253);
                top: 55%;;
            }
        }

        @include tablet {
            margin-bottom: pxToRem(25);

            &::before {
                right: pxToRem(296);
                top: 45%;
            }
    
            &::after {
                left: pxToRem(296);
                top: 45%;
            }
        }

        @include desktop-light {
            margin-bottom: pxToRem(15);

            &::before {
                right: pxToRem(253);
                top: 45%;
            }
    
            &::after {
                left: pxToRem(253);
                top: 45%;;
            }
        }

        @include desktop {
            margin-bottom: pxToRem(25);

            &::before {
                right: pxToRem(296);
                top: 45%;
            }
    
            &::after {
                left: pxToRem(296);
                top: 45%;
            }
        }
    }

    &__google-image {

        @include mobile {
            width: pxToRem(222);
            height: pxToRem(75);
        }

        @include tablet {
            width: pxToRem(251);
            height: pxToRem(85);
        }

        @include desktop-light {
            width: pxToRem(222);
            height: pxToRem(75);
        }

        @include desktop {
            width: pxToRem(251);
            height: pxToRem(85);
        }
    }

    &__subtitle {

        @include mobile {
            margin-bottom: pxToRem(17);
        }

        @include tablet {
            margin-bottom: pxToRem(30);
        }

        @include desktop-light {
            margin-bottom: pxToRem(20);
        }
        
        @include desktop {
            margin-bottom: pxToRem(30);
        }
    }

    &__subtitle-text {
        color: $color-white;
        font-weight: 500;
        font-size: pxToRem(20);
        line-height: 108.5%;
        text-align: center;
        letter-spacing: 0.365em;
        text-transform: uppercase;
    }

    &__stars {
        display: flex;

        @include mobile {
            gap: pxToRem(11);
        }

        @include tablet {
            gap: pxToRem(13);
        }

        @include desktop-light {
            gap: pxToRem(13);
        }

        @include desktop {
            gap: pxToRem(13);
        }
    }

    &__star-image {

        @include mobile {
            width: pxToRem(25);
            height: pxToRem(25);
        }

        @include tablet {
            width: pxToRem(30);
            height: pxToRem(30);
        }

        @include desktop-light {
            width: pxToRem(30);
            height: pxToRem(30);
        }

        @include desktop {
            width: pxToRem(30);
            height: pxToRem(30);
        }
    }

    &__scroll-nav {

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include desktop-light {
            position: absolute;
            bottom: 12%;
            left: -4%;
        }

        @include desktop {
            position: absolute;
            bottom: pxToRem(105);
            right: pxToRem(14);
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include mobile {
            gap: pxToRem(45);
            padding: 0 pxToRem(15);
        }

        @include tablet {
            gap: pxToRem(45);
            padding: 0 pxToRem(30);
        }

        @include desktop-light {
            gap: pxToRem(40);
            max-width: pxToRem(1573);
            margin: 0 auto;
        }

        @include desktop {
            gap: pxToRem(70.5);
            max-width: pxToRem(1573);
            margin: 0 auto;
        }
    }

    &__slider-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}

//==============================================================

.slider {

    &__container {
        display: flex;
        transition: all ease-in-out 1s;

        &::-webkit-scrollbar {
            height: pxToRem(15);
        }

        &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 pxToRem(5) grey; 
        border-radius: pxToRem(10);
        }

        &::-webkit-scrollbar-thumb {
        background: $color-red; 
        border-radius: pxToRem(10);
        }

        &::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
        }

        @include mobile {
            gap: pxToRem(30);
            overflow: auto;
        }

        @include tablet {
            gap: pxToRem(30);
            overflow: auto;
            
        }

        @include desktop-light {
            width: 1201px;
            position: relative;
            gap: pxToRem(50);
        }

        @include desktop {
            position: relative;
            gap: pxToRem(50);
        }
    }

    &__cards {
        display: flex;
        flex-wrap: nowrap;

        @include mobile {
            gap: pxToRem(30);
            margin-bottom: pxToRem(48);
        }

        @include tablet {
            gap: pxToRem(30);
            margin-bottom: pxToRem(50);
        }

        @include desktop-light {
            gap: pxToRem(50);
        }

        @include desktop {
            width: pxToRem(1573);
            gap: pxToRem(50);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        border: pxToRem(1) solid $color-white;

        @include mobile {
            gap: pxToRem(19);
            width: pxToRem(284);
            min-height: pxToRem(222);
            padding: pxToRem(31) pxToRem(34) pxToRem(27) pxToRem(35.6);
        }

        @include tablet {
            gap: pxToRem(19);
            min-width: pxToRem(350);
            min-height: pxToRem(222);
            padding: pxToRem(30);
        }

        @include desktop-light {
            gap: pxToRem(15);
            min-width: pxToRem(367);
            padding: pxToRem(30);
        }

        @include desktop {
            gap: pxToRem(34.5);
            width: pxToRem(491);
            height: pxToRem(329);
            padding: pxToRem(55) pxToRem(63.7) pxToRem(41) pxToRem(61.6);
        }
    }

    &__card-heading {
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading-container {
        display: flex;
        align-items: center;

        @include mobile {
            gap: pxToRem(13);
        }

        @include tablet {
            gap: pxToRem(13);
        }

        @include desktop-light {
            gap: pxToRem(23);
        }

        @include desktop {
            gap: pxToRem(23);
        }
    }

    &__card-photo {

        @include mobile {
            width: pxToRem(21);
            height: pxToRem(21);
        }

        @include tablet {
            width: pxToRem(36.14);
            height: pxToRem(36.14);
        }

        @include desktop-light {
            width: pxToRem(36.14);
            height: pxToRem(36.14);
        }

        @include desktop {
            width: pxToRem(36.14);
            height: pxToRem(36.14);
        }
    }

    &__card-stars {
        display: flex;
        
        
        @include mobile {
            gap: pxToRem(4.5);
        }

        @include tablet {
            gap: pxToRem(4.5);
        }

        @include desktop-light {
            gap: pxToRem(6.5);
        }

        @include desktop {
            gap: pxToRem(6.5);
        }
    }

    &__card-stars-image {

        @include mobile {
            width: pxToRem(9.5);
            height: pxToRem(9);
        }

        @include tablet {
            width: pxToRem(12);
            height: pxToRem(12);
        }

        @include desktop-light {
            width: pxToRem(14);
            height: pxToRem(14);
        }

        @include desktop {
            width: pxToRem(14);
            height: pxToRem(14);
        }
    }

    &__card-data-correction {
        line-height: 108.5%;
        text-align: right;
        letter-spacing: 0.13em;
        text-transform: uppercase;
        color: $color-white;

        @include mobile {
            font-size: pxToRem(10);
        }

        @include tablet {
            font-size: pxToRem(14);
        }

        @include desktop-light {
            font-size: pxToRem(15);
        }

        @include desktop {
            font-size: pxToRem(15);
        }
    }

    &__comment {

        @include desktop {
            min-height: pxToRem(162);
        }
    }

    &__comment-text {
        line-height: 169%;
        letter-spacing: 0.105em;
        color: $color-white;
        
        @include mobile {
            font-size: pxToRem(12);
        }
    }
}

@media (min-width: $desktop-extra) and (max-width: 1800px) {

    .reviews {
        &__container {
            gap: pxToRem(30);
        }
        &__slider {
            gap: pxToRem(20);
        }
    }
    
    .slider{
        &__container {
        max-width: pxToRem(1032);
        }
        &__card {
            padding: pxToRem(20);
            height: auto;
        }
    }
}

.reviews__radio {
    display: none;

    &:checked {
        &[id="reviews-slider_1"] {
            ~ .slider {
                .slider__container {
                    left: calc((100% + 50px) * 0 * -1);
                }
                .btn-item-1 {
                    background: $color-red;
                    height: pxToRem(10);
                }
            }
        }

        &[id="reviews-slider_2"] {
            ~ .slider {
                .slider__container {
                    left: calc((100% + 50px) * 1 * -1);
                }
                .btn-item-2 {
                    background: $color-red;
                    height: pxToRem(10);
                }
            }
        }

        &[id="reviews-slider_3"] {
            ~ .slider {
                .slider__container {
                    left: calc((100% + 50px) * 2 * -1);
                }
                .btn-item-3 {
                    background: $color-red;
                    height: pxToRem(10);
                }
            }
        }
    }
}