.services {

  @include mobile {
    padding: 0 pxToRem(15);
  }

  @include tablet {
    padding: 0 pxToRem(40);
  }

  @include desktop-light {
    width: 100vw;
    height: 100vh;
  }

  @include desktop {
    width: 100vw;
    height: 100vh;
  }

  &__container {
    position: relative;

    @include mobile {
      padding-bottom: pxToRem(107);
      border-left: pxToRem(1) solid $color-white;
    }

    @include tablet {
      padding-top: pxToRem(50);
      padding-bottom: pxToRem(50);
      border-left: pxToRem(1) solid $color-white;
    }

    @include desktop-light {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;

      &::before {
        content: "";
        position: absolute;
        left: pxToRem(80);
        top: 0;
        height: 100vh;
        width: pxToRem(1);
        background: $color-white;
      }
    }

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding-right: pxToRem(18);

      &::before {
        content: "";
        position: absolute;
        left: pxToRem(100);
        top: 0;
        height: 100vh;
        width: pxToRem(1);
        background: $color-white;
      }
    }
  }

  &__heading {

    @include mobile {
      position: absolute;
      top: pxToRem(80);
      left: pxToRem(-63);
    }

    @include tablet {
      position: absolute;
      top: pxToRem(185);
      left: pxToRem(-100);
    }

    @include desktop-light {
      position: absolute;
      bottom: 30%;
      left: pxToRem(-80);
    }

    @include desktop {
      position: absolute;
      bottom: 31%;
      left: pxToRem(-63);
    }
  }

  &__tabs {

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: pxToRem(10);
      max-width: pxToRem(500);
      margin: 0 auto;
    }

    @include tablet {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: pxToRem(10);
      max-width: pxToRem(900);
      margin: 0 auto;
    }

    @include desktop-light {
      position: relative;
    }

    @include desktop {
      position: relative;
    }
  }

  &__button {

    @include mobile {
      padding: pxToRem(10);
    }

    @include tablet {
      display: none;
    }

    @include desktop-light {
      position: absolute;
      left: pxToRem(0);
      bottom: pxToRem(-43);

    }

    @include desktop {
      position: absolute;
      left: pxToRem(26);
      bottom: pxToRem(-43);
      padding: pxToRem(10);
    }
  }

  &__button-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      width: pxToRem(149);
      height: pxToRem(146);
      padding: 0 pxToRem(20);
      gap: pxToRem(10);
    }

    @include tablet {
      width: pxToRem(149);
      height: pxToRem(146);
      padding: 0 pxToRem(20);
      gap: pxToRem(12);
    }

    @include desktop-light {
      width: pxToRem(180);
      height: pxToRem(180);
      padding: 0 pxToRem(30);
      gap: pxToRem(15);
    }

    @include desktop {
      width: pxToRem(225);
      height: pxToRem(221);
      padding: 0 pxToRem(36);
    }
  }

  &__button-text {
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 0.13em;
    color: $color-white;
    text-transform: uppercase;

    @include desktop-light {
      font-size: pxToRem(18);
    }

    @include desktop {
      font-size: pxToRem(20);
    }
  }

  &__button-arrow-white {

    @include mobile {
      width: pxToRem(105);
    }

    @include desktop-light {
      width: pxToRem(100);
    }

    @include desktop {
      position: absolute;
      left: calc(50% - 75px);
      bottom: 35%;
      width: pxToRem(130);
    }
  }

  &__scroll-nav {
    @include mobile {
      display: none;
    }

    @include tablet {
      display: none;
    }

    @include desktop-light {
      position: absolute;
      right: 3%;
      bottom: 12%;
    }

    @include desktop {
      position: absolute;
      right: 9.3%;
      bottom: 9.7%;
    }
  }
}

.tabs {

  &__container {
    display: flex;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: pxToRem(40);
    }

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
      gap: pxToRem(40);
      padding-left: pxToRem(140);
    }

    @include desktop-light {
      gap: pxToRem(150);
      padding-top: pxToRem(60);
    }

    @include desktop {
      gap: pxToRem(157);
      padding-top: pxToRem(60);
      padding-left: pxToRem(28);
    }
  }

  &__nav {
    display: flex;

    @include mobile {
      justify-content: center;
      gap: pxToRem(36);
      padding-left: pxToRem(82);
      padding-right: pxToRem(42);
      width: pxToRem(385);
    }

    @include tablet {
      gap: pxToRem(36);
    }

    @include desktop-light {
      flex-direction: column;
      gap: pxToRem(78);
      padding: pxToRem(67) 0;
    }

    @include desktop {
      flex-direction: column;
      gap: pxToRem(78);
      padding: pxToRem(67) 0;
    }
  }

  &__nav-items {
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
      gap: pxToRem(18.5);
    }

    @include tablet {
      gap: pxToRem(18.5);
    }

    @include desktop-light {
      gap: pxToRem(25);
    }

    @include desktop {
      gap: pxToRem(25);
    }
  }

  &__nav-item {
    font-weight: 500;
    line-height: 108.5%;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: $color-white;
    transition: all 0.5s;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    @include mobile {
      padding: pxToRem(20) pxToRem(25) pxToRem(16) pxToRem(29);
    }

    @include tablet {
      padding: pxToRem(10) pxToRem(20);
      font-size: pxToRem(20);
    }

    @include desktop-light {
      padding: pxToRem(10) pxToRem(30);
      font-size: pxToRem(20);
    }

    @include desktop {
      padding: pxToRem(10) pxToRem(30);
      font-size: pxToRem(30);
    }
  }

  &__slider {
    overflow-x: hidden;
    overflow-y: auto;
  
    @include mobile {
      padding-left: 10px;
    }
  }

  &__slider-container {
    position: relative;
    display: flex;
    gap: pxToRem(100);
    transition: all 1s;

    @include mobile {
      max-width: pxToRem(373);
    }

    @include tablet {
      max-width: pxToRem(514);
    }

    @include desktop-light {
      max-width: pxToRem(514);
    }

    @include desktop {
      max-width: pxToRem(743);
    }
  }

  &__slide-content {
    display: flex;
    flex-direction: column;

    @include mobile {
      min-width: pxToRem(373);
      gap: pxToRem(28);
    }

    @include tablet {
      min-width: pxToRem(514);
      gap: pxToRem(28);
    }

    @include desktop-light {
      min-width: pxToRem(514);
      gap: pxToRem(20);
    }

    @include desktop {
      min-width: pxToRem(743);
      gap: pxToRem(35);
    }
  }

  &__content-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url("../../../img/Serviced-image-2.png"),
      url("../../../img/Serviced-image-1.png");
    background-repeat: no-repeat;

    @include mobile {
      height: pxToRem(210);
      background-position: 36% 50%, top left;
      background-size: pxToRem(290) pxToRem(165), pxToRem(276) pxToRem(165);
    }

    @include tablet {
      min-height: pxToRem(310);
      background-position: 36% 50%, top left;
      background-size: 80%, 80%;
    }

    @include desktop-light {
      min-height: pxToRem(280);
      background-position: 36% 50%, top left;
      background-size: 80%, 80%;
    }

    @include desktop {
      min-height: pxToRem(422);
      background-position: 37% 50%, top left;
    }
  }

  &__content-name {
    font-weight: 600;
    line-height: 108.5%;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;

    @include mobile {
      font-size: pxToRem(50);
    }

    @include tablet {
      font-size: pxToRem(50);
    }

    @include desktop-light {
      font-size: pxToRem(50);
    }

    @include desktop {
      font-size: pxToRem(100);
    }
  }

  &__content-text {
    line-height: 168%;
    letter-spacing: 0.105em;
    color: $color-white;

    @include mobile {
      padding-left: pxToRem(9);
    }

    @include desktop-light {
      width: pxToRem(514);
    }

    @include desktop {
      width: pxToRem(684);
    }
  }
}

.services__radio {
  display: none;

  &:checked {
    &[id="services-radio_1"] {
      ~ .tabs {
        .nav-item-1 {
          background: $color-white;
          color: $color-black;
        }
        .tabs__content-container {
          left: calc((100% + 100px) * 0 * -1);
        }
      }
    }

    &[id="services-radio_2"] {
      ~ .tabs {
        .nav-item-2 {
          background: $color-white;
          color: $color-black;
        }
        .tabs__content-container {
          left: calc((100% + 100px) * 1 * -1);
        }
      }
    }

    &[id="services-radio_3"] {
      ~ .tabs {
        .nav-item-3 {
          background: $color-white;
          color: $color-black;
        }
        .tabs__content-container {
          left: calc((100% + 100px) * 2 * -1);
        }
      }
    }

    &[id="services-radio_4"] {
      ~ .tabs {
        .nav-item-4 {
          background: $color-white;
          color: $color-black;
        }
        .tabs__content-container {
          left: calc((100% + 100px) * 3 * -1);
        }
      }
    }
  }
}