body {
    background: $color-black;
    
    @include desktop {
        overflow: hidden;
    }
}

.header {

    @include desktop {
        position: fixed;
        z-index: 10;
        width: 100%;
    }

    &__container {
        display: flex;

        @include mobile {
            gap: pxToRem(20);
            justify-content: space-between;
            align-items: center;
            max-width: pxToRem(414);
            margin: 0 auto;
            padding-top: pxToRem(29);
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
            padding-top: pxToRem(20);
            gap: pxToRem(10);
        }

        @include desktop {
            justify-content: center;
            gap: pxToRem(72);
            padding: pxToRem(70) pxToRem(10) pxToRem(0) pxToRem(30);
            max-width: pxToRem(1920);
            margin: 0 auto;
        }
    }

    &__navigation {
        display: flex;

        @include mobile {
            max-width: pxToRem(282);
            flex: auto;
            justify-content: space-between;
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(10);
        }

        @include desktop {
            max-width: pxToRem(1307);
            flex: auto;
            justify-content: space-between;
        }
    }

    &__burger {

        @include mobile {
            order: -1;
            position: relative;
            align-self: center;
        }

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__main {

        @include mobile {
            position: absolute;
            top: pxToRem(83);
            z-index: 20;
            left: -100%;
            width: 100vw;
            padding-top: pxToRem(100);
            background: $color-black;
            transition: 0.5s all;
        }

        @include tablet {
            display: flex;
        }

        @include desktop {
            display: flex;
            gap: pxToRem(44);
        }
    }

    &__logo {

        @include desktop {
            padding-top: pxToRem(5);
        }
    }

    &__logo-image {

        @include mobile {
            width: pxToRem(144);
            height: pxToRem(54);
        }

        @include tablet {
            width: pxToRem(290);
            height: pxToRem(42);
        }

        @include desktop {
            width: pxToRem(290);
            height: pxToRem(42);
        }
    }

    &__logo-mobile {

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }
    
    &__logo-desktop {

        @include mobile {
            display: none;
        }
    }

    &__dop-service {
        display: flex;
        justify-content: center;

        @include mobile {
            gap: pxToRem(20);
        }

        @include tablet {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(10);
        }

        @include desktop {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(14);
        }
    }

    &__drop-down {
        background-color: transparent;
        color: $color-white;
        font-size: pxToRem(16);
        text-transform: uppercase;
    }

    &__drop-list {
        color: $color-white;
        background-color: $color-black;
        border: pxToRem(2) solid $color-white;
        box-shadow: 0 0 10px $color-white;
    }

    &__switch {
        width: pxToRem(60);
        height: pxToRem(25);
    }

    &__nav {
        display: flex;

        @include mobile {
            flex-direction: column;
            gap: pxToRem(39);
            padding: pxToRem(55) pxToRem(53) 0 pxToRem(68);
        }

        @include tablet {
            align-items: center;
            gap: pxToRem(25);
        }

        @include desktop {
            align-items: center;
            gap: pxToRem(22);
        }
    }

    &__nav-item {
        line-height: 132.4%;
        font-weight: 600;
        color: $color-white;

        @include mobile {
            display: flex;
            align-items: center;
            position: relative;
            gap: pxToRem(65);
            z-index: 1;
            padding: pxToRem(20);
            font-size: pxToRem(20);

            &::before {
                content: "";
                position: absolute;
                top: calc(50% - 15px);
                left: pxToRem(-2);
                z-index: -1;
                width: pxToRem(30);
                height: pxToRem(30);
                border-radius: 50%;
                box-shadow: 0 0 2px 5px $color-red ;
                background: $color-red;
            }
        }

        @include tablet {
            padding: pxToRem(15) pxToRem(10);
        }

        @include desktop {
            padding: pxToRem(15);
        }
    }

    &__arrow {
        width: 100%;

        @include tablet {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__btn-link {

        @include mobile {
            display: block;
            padding: pxToRem(7) pxToRem(15);
        }

        @include tablet {
            display: block;
            padding: pxToRem(10);
            background: $color-red;
            border-radius: pxToRem(15);
            box-shadow: inset 0 0 pxToRem(10) pxToRem(5) $color-white;
        }

        @include desktop {
            display: flex;
            align-items: center;
            gap: pxToRem(18);
            padding: pxToRem(20);
        }
    }

    &__btn-text {
        font-weight: 600;
        line-height: 132.4%;
        color: $color-white;

        @include mobile {
            display: none;
        }

        @include tablet {
            text-shadow: 0 0 pxToRem(5) #2B2B2D;
        }

        @include desktop {
            font-size: pxToRem(20);
        }
    }

    &__btn-badge {

        @include mobile {
        }
    }

    &__btn-container {
        width: 0;
        height: 0;

        @include mobile {
            border-top: pxToRem(20) solid transparent;
            border-left: pxToRem(35) solid $color-red;
            border-bottom: pxToRem(20) solid transparent;
        }

        @include tablet {
            display: none;
        }

        @include desktop {
            border-top: pxToRem(12) solid transparent;
            border-left: pxToRem(22) solid $color-red;
            border-bottom: pxToRem(12) solid transparent;
        }
    }
}


.switch {
    position: relative;    

    &__checkbox {
        display: none;

        &:checked + .switch__slider {
            background-color: $color-red;
        }

        @include mobile {
            &:checked + .switch__slider:before {
                transform: translateX(37px);
            }
        }

        @include tablet {
            &:checked + .switch__slider:before {
                transform: translateX(30px);
            }
        }

        @include desktop {
            &:checked + .switch__slider:before {
                transform: translateX(30px);
            }
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        -webkit-transition: .4s;
        transition: .4s;
        background-color: $color-black;

        @include mobile {
            width: pxToRem(60);
            height: pxToRem(24);
            border: pxToRem(2) solid $color-white;
            border-radius: pxToRem(100);
        }

        @include tablet {
            width: pxToRem(49);
            height: pxToRem(18);
            border-radius: pxToRem(100);
        }

        @include desktop {
            width: pxToRem(49);
            height: pxToRem(18);
            border-radius: pxToRem(100);
        }

        &:before {
            position: absolute;
            content: "";
            height: pxToRem(27);
            width: pxToRem(27);
            left: pxToRem(-5);
            bottom: calc(50% - 13.5px);
            border-radius: 50%;
            background-color: #2B2B2D;
            background-image: url(/src/favicon/moon.svg);
            background-size: pxToRem(14) pxToRem(14);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
}

.burger {

    &__checkbox {
        display: none;

        @include mobile {
            &:checked ~ .header .header__main {
                left: 0;
            }

            &:checked ~ .header .burger__line::before {
                top: 0;
                transform: rotate(-45deg);
                transition: 0.6s all;
                background: $color-red;
            }

            &:checked ~ .header .burger__line::after {
                top: 0;
                transform: rotate(45deg);
                transition: 0.6s all;
                background: $color-red;
            }

            &:checked ~ .header .burger__line {
                background: transparent;
                transition: 0.6s all;
            }
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: pxToRem(71);
        height: pxToRem(54);
    }

    &__line {
        position: relative;
        width: pxToRem(41);
        height: pxToRem(4);
        background: $color-white;
        transition: 0.6s all;

        &::before {
            content: "";
            position: absolute;
            top: pxToRem(14);
            width: pxToRem(41);
            height: pxToRem(4);
            background: $color-white;
            transition: 0.6s all;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: pxToRem(14);
            width: pxToRem(41);
            height: pxToRem(4);
            background: $color-white;
            transition: 0.6s all;
        }
    }
}