.header {

    @include mobile {
        position: relative;
        z-index: 9999;
    }

    @include desktop-light {
        position: fixed;
        left: 0;
        top: pxToRem(25);
        z-index: 10;
        width: 100%;
    }

    @include desktop {
        position: fixed;
        left: 0;
        top: 6.5%;
        z-index: 10;
        width: 100%;
    }

    &__container {
        display: flex;

        @include mobile {
            gap: pxToRem(20);
            justify-content: space-between;
            align-items: center;
            max-width: pxToRem(414);
            margin: 0 auto;
            padding-top: pxToRem(29);
        }

        @include tablet {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: pxToRem(20);
            padding: pxToRem(20);
        }

        @include desktop-light {
            justify-content: center;
            gap: pxToRem(50);
            padding: 0 pxToRem(90);
        }

        @include desktop {
            justify-content: center;
            gap: pxToRem(72);
            margin-left: pxToRem(10);
        }
    }

    &__navigation {
        display: flex;

        @include mobile {
            max-width: pxToRem(282);
            flex: auto;
            justify-content: space-between;
        }

        @include tablet {
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: pxToRem(20);
        }

        @include desktop-light {
            max-width: pxToRem(1200);
            flex: auto;
            justify-content: space-between;
            align-items: center;
        }

        @include desktop {
            max-width: pxToRem(1317);
            flex: auto;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__burger {

        @include mobile {
            order: -1;
            position: relative;
            align-self: center;
        }

        @include tablet {
            display: none;
        }

        @include desktop-light {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__main {

        @include mobile {
            position: absolute;
            top: pxToRem(83);
            z-index: 20;
            left: -100%;
            width: 100vw;
            min-height: 100vh;
            padding-top: pxToRem(100);
            padding-bottom: pxToRem(50);
            background: $color-black;
            transition: all 0.7s ease-in-out;
        }

        @include tablet {
            display: flex;
        }

        @include desktop-light {
            display: flex;
            gap: pxToRem(20);
        }

        @include desktop {
            display: flex;
            gap: pxToRem(44);
        }
    }

    &__logo {

        @include desktop-light {
            padding: 0 pxToRem(10) pxToRem(10) pxToRem(10);
        }

        @include desktop {
            padding: pxToRem(0) pxToRem(10) pxToRem(15) pxToRem(10);
        }
    }

    &__logo--desktop {

        @include mobile {
            display: none;
        }

        @include tablet {
            width: pxToRem(290);
            height: pxToRem(42);
        }

        @include desktop-light {
            display: none;
        }

        @include desktop {
            width: pxToRem(290);
            height: pxToRem(42);
        }
    }

    &__logo--mobile {

        @include mobile {
            width: pxToRem(144);
            height: pxToRem(54);
        }
        
        @include tablet {
            display: none;
        }

        @include desktop-light {
            width: pxToRem(200);
            height: pxToRem(80);
        }

        @include desktop {
            display: none;
        }
    }

    &__dop-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include mobile {
            gap: pxToRem(20);
        }

        @include tablet {
            align-items: center;
            gap: pxToRem(10);
        }

        @include desktop-light {
            align-items: center;
            gap: pxToRem(15);
        }

        @include desktop {
            justify-content: center;
            align-items: center;
            gap: pxToRem(20);
        }
    }

    &__drop-down {
        background-color: transparent;
        color: $color-white;
        font-size: pxToRem(16);
        text-transform: uppercase;
    }

    &__drop-list {
        color: $color-white;
        background-color: $color-black;
        border: pxToRem(2) solid $color-white;
        box-shadow: 0 0 10px $color-white;
    }

    &__switch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: pxToRem(60);
        height: pxToRem(25);
    }

    &__nav {
        display: flex;

        @include mobile {
            flex-direction: column;
            gap: pxToRem(39);
            padding: pxToRem(55) pxToRem(53) 0 pxToRem(68);
        }

        @include tablet {
            align-items: center;
            gap: pxToRem(25);
        }

        @include desktop-light {
            align-items: center;
            gap: pxToRem(10);
        }

        @include desktop {
            align-items: center;
            gap: pxToRem(22);
        }
    }

    &__nav-item {
        line-height: 132.4%;
        font-weight: 600;
        color: $color-white;

        @include mobile {
            display: flex;
            align-items: center;
            position: relative;
            gap: pxToRem(65);
            z-index: 1;
            padding: pxToRem(20);
            font-size: pxToRem(20);

            &::before {
                content: "";
                position: absolute;
                top: calc(50% - 15px);
                left: pxToRem(-2);
                z-index: -1;
                width: pxToRem(30);
                height: pxToRem(30);
                border-radius: 50%;
                box-shadow: 0 0 2px 5px $color-red ;
                background: $color-red;
            }
        }

        @include tablet {
            padding: pxToRem(15) pxToRem(10);
        }

        @include desktop-light {
            padding: pxToRem(15);
        }

        @include desktop {
            padding: pxToRem(15);
        }
    }

    &__arrow {
        width: 100%;

        @include tablet {
            display: none;
        }

        @include desktop-light {
            display: none;
        }

        @include desktop {
            display: none;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
    }

    &__btn-link {

        @include mobile {
            display: block;
            padding: pxToRem(7) pxToRem(15);
        }

        @include tablet {
            display: flex;
            align-items: center;
            gap: pxToRem(18);
            padding: pxToRem(15) pxToRem(10);
        }

        @include desktop-light {
            display: flex;
            align-items: center;
            gap: pxToRem(18);
            padding: pxToRem(20);
        }

        @include desktop {
            display: flex;
            align-items: center;
            gap: pxToRem(18);
            padding: pxToRem(20);
        }
    }

    &__btn-text {
        font-weight: 600;
        line-height: 132.4%;
        color: $color-white;

        @include mobile {
            display: none;
        }

        @include desktop-light {
            font-size: pxToRem(20);
        }

        @include desktop {
            font-size: pxToRem(20);
        }
    }

    &__btn-container {
        width: 0;
        height: 0;

        @include mobile {
            border-top: pxToRem(20) solid transparent;
            border-left: pxToRem(35) solid $color-red;
            border-bottom: pxToRem(20) solid transparent;
        }

        @include tablet {
            border-top: pxToRem(12) solid transparent;
            border-left: pxToRem(22) solid $color-red;
            border-bottom: pxToRem(12) solid transparent;
        }

        @include desktop-light {
            border-top: pxToRem(12) solid transparent;
            border-left: pxToRem(22) solid $color-red;
            border-bottom: pxToRem(12) solid transparent;
        }

        @include desktop {
            border-top: pxToRem(12) solid transparent;
            border-left: pxToRem(22) solid $color-red;
            border-bottom: pxToRem(12) solid transparent;
        }
    }
}

// @media (min-width: 1621px) and (max-width: 1800px) {
//     .header__container {
//         padding-left: pxToRem(90);
//     }
// }